<div class="front-page">
    <div class="content">
        <div class="info-container">
            <h1>Steam Friend Roulette</h1>
            <button
                mat-icon-button
                aria-label="Info button"
                class="info-button"
                color="accent"
                (click)="openDialog()"
            >
                <mat-icon>info</mat-icon>
            </button>
        </div>
        <h2>🎮 🕹️ 👾 ⚙️ 🎲 🎰</h2>
        <div class="login-container">
            <div class="id-input-holder">
                <mat-form-field appearance="standard" class="id-input">
                    <mat-label>Steam ID</mat-label>
                    <input
                        [(ngModel)]="steamId"
                        matInput
                        placeholder="01234567890123456"
                        [formControl]="idForm"
                    />
                    <mat-hint
                        >(If you don't have a custom URL) You can find this by
                        going to your Steam profile in a web browser and taking
                        the 17 digit number from after 'profiles/'. Example:
                        https://steamcommunity.com/profiles/01234567890123456/</mat-hint
                    >
                    <mat-error>Invalid Steam ID</mat-error>
                </mat-form-field>
            </div>
            <div class="button-holder">
                <p>
                    Alternatively you can sign in using the button below. This
                    shares your Steam information with us but we only use it for
                    finding your Steam ID.
                </p>
                <p *ngIf="!steamSignInAllowed()">
                    This requires session cookies to work.
                </p>
                <input
                    [disabled]="!steamSignInAllowed()"
                    type="image"
                    src="assets/sits_01.png"
                    class="steam-sign-in"
                />
            </div>
        </div>

        <div class="button-holder">
            <button
                (click)="getFriends()"
                mat-raised-button
                class="games-button"
                [disabled]="!isValidId(idForm.value)"
                color="accent"
            >
                Get friends
            </button>
        </div>
    </div>
</div>
