<h2>My Friends</h2>
<label>Selected</label>
<app-friend-list [friends]="selectedFriends()" (selectedFriendEvent)="toggleFriend($event)"></app-friend-list>
<label>Online</label>
<app-friend-list [friends]="onlineFriends()" (selectedFriendEvent)="toggleFriend($event)"></app-friend-list>
<label>In-game</label>
<app-friend-list [friends]="inGameFriends()" (selectedFriendEvent)="toggleFriend($event)"></app-friend-list>
<label>Away/Offline</label>
<app-friend-list [friends]="otherFriends()" (selectedFriendEvent)="toggleFriend($event)"></app-friend-list>
<button (click)="getGames()">Get shared games</button>

<div>
    <div *ngFor="let game of games">
        <label>{{game.name}}</label><img [src]="game.img_logo_url" />
    </div>
</div>