<h2>My Friends</h2>
<div class="friend-selection">
    <div class="friend-list">
        <app-friend-list [friends]="selectedFriends()" (selectedFriendEvent)="toggleFriend($event)" title="Selected">
        </app-friend-list>
        <button (click)="getGames()" mat-raised-button class="games-button">Get shared games</button>
        <app-game-list [games]="games"></app-game-list>
    </div>
    <div class="friend-list">
        <app-friend-list [friends]="onlineFriends()" (selectedFriendEvent)="toggleFriend($event)" title="Online">
        </app-friend-list>
        <app-friend-list [friends]="inGameFriends()" (selectedFriendEvent)="toggleFriend($event)" title="In-game">
        </app-friend-list>
        <app-friend-list [friends]="otherFriends()" (selectedFriendEvent)="toggleFriend($event)" title="Away/Offline">
        </app-friend-list>
    </div>
</div>