@import '../../variables.scss';

.friend-selection {
    display: flex;
    width: 100%;
}

.friend-list {
    flex-grow: 1;
}

.games-button {
    margin: 0 $margin;
}

.id-input-holder {
    width: 100%;
    display: flex;
}
.id-input {
    margin: $margin;
    flex-grow: 1;
}