<h2>My Friends</h2>
<app-friend-list [friends]="selectedFriends()" (selectedFriendEvent)="toggleFriend($event)" title="Selected">
</app-friend-list>
<app-friend-list [friends]="onlineFriends()" (selectedFriendEvent)="toggleFriend($event)" title="Online">
</app-friend-list>
<app-friend-list [friends]="inGameFriends()" (selectedFriendEvent)="toggleFriend($event)" title="In-game">
</app-friend-list>
<app-friend-list [friends]="otherFriends()" (selectedFriendEvent)="toggleFriend($event)" title="Away/Offline">
</app-friend-list>
<button (click)="getGames()">Get shared games</button>

<div>
    <div *ngFor="let game of games">
        <label>{{game.name}}</label><img [src]="game.img_logo_url" />
    </div>
</div>