<div>
    <div>
        <span>
            We would like to use cookies to store your Steam ID and friend
            selection, do you allow us?
        </span>
    </div>
    <div class="button-container">
        <div class="info-button">
            <button mat-button (click)="openDialog()">
                Info <mat-icon>help_outline</mat-icon>
            </button>
        </div>
        <button mat-button (click)="accept()">Accept</button
        ><button mat-button (click)="reject()">Reject</button>
    </div>
</div>
