@use 'sass:map';
@import '~@angular/material/theming';
@import '../../variables.scss';

.list-header {
    margin: $margin;
    display: flex;
    justify-content: space-between;
    h2 {
        margin: 0;
    }
}

.friend-card {
    margin: $margin 0;
    cursor: pointer;
    transition: ease 0.2s;
    &:hover {
        background-color: map.get($mat-pink, 200);
    }
}
.friend-list {
    margin: $margin;
}
.avatar {
    border: 3px solid black;
    opacity: 0.2;
    &.online {
        border: 3px solid map.get($mat-pink, 500);
        opacity: 1;
    }
}
.header {
    display: flex;
}
.status {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}
