<div class="list-header">
    <h2>{{ title }} ({{ friends.length }})</h2>
    <button
        [disabled]="!friends.length"
        (click)="selectAll()"
        mat-raised-button
    >
        Select All
    </button>
</div>
<div class="friend-list">
    <mat-card
        *ngFor="let friend of friends"
        (click)="selectFriend(friend)"
        class="friend-card"
        [id]="friend.steamid + '-card'"
    >
        <mat-card-header class="header">
            <img
                mat-card-avatar
                [src]="friend.avatar"
                class="avatar"
                [class.online]="friend.personastate === 1"
            />
            <mat-card-title>{{ friend.personaname }}</mat-card-title>
            <mat-card-subtitle>{{ friend.realname }}</mat-card-subtitle>
            <app-friend-status
                [friend]="friend"
                class="status"
            ></app-friend-status>
        </mat-card-header>
    </mat-card>
</div>
