<mat-expansion-panel class="friend-expansion">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{title}}
        </mat-panel-title>
        <mat-panel-description>
            ({{friends.length}})
        </mat-panel-description>
    </mat-expansion-panel-header>
    <button [disabled]="!friends.length" (click)="selectAll()" mat-raised-button>Select All</button>
    <div class="friend-list" #listElement>
        <mat-card *ngFor="let friend of friends" (click)="selectFriend(friend)" class="friend-card">
            <mat-card-header>
                <img mat-card-avatar [src]="friend.avatar" />
                <mat-card-title>{{friend.personaname}}</mat-card-title>
                <mat-card-subtitle>{{friend.realname}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
    <button [disabled]="!friends.length" mat-fab aria-label="Scroll back to the top of the list" class="scroll-button"
        (click)="scrollToTop(listElement)">
        <mat-icon>arrow_upward</mat-icon>
    </button>
</mat-expansion-panel>