<app-loading-overlay *ngIf="loading" (cancelEvent)="goBack()"></app-loading-overlay>
<div class="buttons-container">
    <button (click)="goBack()" mat-raised-button class="back-button">Back to Steam ID entry </button>
    <button (click)="refresh()" mat-button class="back-button" color="accent">
        <mat-icon class="refresh-icon">refresh</mat-icon> Refresh friends list
    </button>
</div>
<div class="friend-selection">
    <div class="friend-list">
        <app-friend-list [friends]="steamService.selectedFriends()"
            (selectedFriendEvent)="steamService.toggleFriend($event)" title="Selected">
        </app-friend-list>
        <button (click)="getGames()" mat-raised-button class="games-button"
            [disabled]="steamService.selectedFriends().length === 0">Get shared games</button>
    </div>
    <div class="friend-list">
        <app-friend-list [friends]="steamService.onlineFriends()"
            (selectedFriendEvent)="steamService.toggleFriend($event)" title="Online">
        </app-friend-list>
        <app-friend-list [friends]="steamService.otherFriends()"
            (selectedFriendEvent)="steamService.toggleFriend($event)" title="Away/Offline">
        </app-friend-list>
    </div>
</div>