@import '../../variables.scss';

.friend-selection {
    display: flex;
    margin: 0 $margin;
}

.friend-list {
    flex-grow: 1;
}
.games-button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}
.games-button {
    margin: $margin;
    padding: 8px;
    &:disabled {
        background-color: rgb(224.4, 224.4, 224.4);
    }
}
.buttons-container {
    display: flex;
    justify-content: space-between;
}
.back-button {
    margin: $margin;
}
.refresh-icon {
    margin-right: 8px;
}
.search-button {
    margin: $margin;
}
.search-input {
    margin-left: 64px;
    flex-grow: 1;
}
.scroll-button {
    position: fixed;
    bottom: $margin;
    right: $margin;
}
.controls-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: $margin;
    background-color: rgba(white, 0.88);
    z-index: 2;
}
.filter-container {
    display: flex;
    padding: $margin $margin 0;
    margin: 105px 16px 0;
    align-items: flex-start;
    h2 {
        margin: 0;
    }
}
.filter-expansion {
    background-color: rgba(white, 0.88);
    ul {
        list-style: none;
    }
}
.checkbox-container {
    padding: 0;
    margin: 0;
}
.sort-list {
    display: flex;
    margin: 0 $margin;
    flex-grow: 1;
    justify-content: center;
}
.sort-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
