@import '../../variables.scss';

.friend-selection {
    display: flex;
    width: 100%;
}

.friend-list {
    flex-grow: 1;
}

.games-button {
    margin: 0 $margin;
}
.buttons-container {
    display: flex;
    justify-content: space-between;
}
.back-button {
    margin: $margin;
}
.refresh-icon {
    margin-right: 8px;
}