<h2 mat-dialog-title>Steam Friend Roulette</h2>
<mat-dialog-content class="mat-typography">
    <h3>What is this?</h3>
    <p>
        This is a little project I made in my time off work. It's a website to
        see which games you share with your friends; it could be useful to
        choose what to play together on a game night!
    </p>

    <h3>What tech is used?</h3>
    <p>
        The front end is an Angular web app using Material components. The back
        end is an express server, running multiple REST endpoints; this calls
        Steam's Web API to retrieve player and game detials, this data is then
        stored in cache.
    </p>

    <h3>Contact me!</h3>
    <ul>
        <li>Website: <a href="https://watsonk.me/">watsonk.me</a></li>
        <li>
            GitHub:
            <a href="https://github.com/kylejwatson/">github.com/kylejwatson</a>
        </li>
        <li>
            Project:
            <a href="https://github.com/kylejwatson/steam-friend-roulette"
                >github.com/kylejwatson/steam-friend-roulette</a
            >
        </li>
    </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
