@import '../../variables.scss';

.header-title{
    margin: 96px $margin $margin $margin;
}

.game-expansion {
    margin: $margin;
}

.game-card {
    margin: $margin;
}
.game-list {
    margin: $margin;
}
.scroll-button {
    position: fixed;
    bottom: $margin;
    right: $margin;
}
.card-content {
    display: flex;
    margin: $margin 0;
    p, img {
        flex-grow: 1;
    }
}