<div class="game-list">
    <mat-card *ngFor="let game of games" class="game-card">
        <mat-card-header>
            <img mat-card-avatar [src]="game.img_icon_url" />
            <mat-card-title>{{ game.name }}</mat-card-title>
            <!-- <mat-card-subtitle>{{game.realname}}</mat-card-subtitle> -->
        </mat-card-header>
        <div class="card-content">
            <div class="time-stats">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <div class="time-header">
                                    <mat-icon>person</mat-icon>
                                    <p>(Player)</p>
                                </div>
                            </th>
                            <th>
                                <div class="time-header">
                                    <mat-icon>schedule</mat-icon>
                                    <p>(2 weeks)</p>
                                </div>
                            </th>
                            <th>
                                <div class="time-header">
                                    <mat-icon>date_range</mat-icon>
                                    <p>(All time)</p>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let userStat of game.userStats">
                            <th [class.highlight]="isUser(userStat)">
                                {{ getName(userStat) }}
                            </th>
                            <td [class.highlight]="userStat.playtime_2weeks">
                                {{ convertGameTime(userStat.playtime_2weeks) }}
                            </td>
                            <td>
                                {{ convertGameTime(userStat.playtime_forever) }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="cover-container">
                <img [src]="getCoverImage(game)" class="cover-image" />
            </div>
        </div>
    </mat-card>
</div>
<button
    [disabled]="!games.length"
    mat-fab
    aria-label="Scroll back to the top of the list"
    class="scroll-button"
    (click)="scrollToTop()"
>
    <mat-icon>arrow_upward</mat-icon>
</button>
