@use 'sass:map';
@import '../../variables.scss';
@import '~@angular/material/theming';
.game-card {
    margin: $margin;
}
.game-list {
    margin: $margin;
}
.scroll-button {
    position: fixed;
    bottom: $margin;
    right: $margin;
}
.card-content {
    display: flex;
    margin: $margin 0;
    justify-content: space-between;
}
.time-stats {
    td,
    th {
        padding: 4px;
    }
}
.two-week-header {
    p {
        margin: 0;
    }
}
.highlight {
    color: map.get($mat-pink, 500);
}
.cover-container {
    flex-grow: 1;
    display: flex;
    justify-content: right;
    min-height: 100%;
}
.cover-image {
    height: 100%;
}
