<app-loading-overlay *ngIf="loading" (cancelEvent)="goBack()"></app-loading-overlay>
<div class="buttons-container">
    <button (click)="goBack()" mat-raised-button class="back-button">Back to friend selection</button>
    <mat-form-field appearance="standard" class="search-input">
        <mat-label>Search</mat-label>
        <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="searchInput" (keyup.enter)="onSearch()"
            #trigger="matAutocompleteTrigger">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSearch()">
            <mat-option *ngFor="let game of filteredResults()" [value]="game.name">
                {{game.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <button (click)="onSearch()" mat-raised-button class="search-button">Search</button>
</div>
<app-game-list [games]="searchedGames()"></app-game-list>