<app-loading-overlay *ngIf="loading" (cancelEvent)="goBack()"></app-loading-overlay>
<div class="controls-container">
    <div class="buttons-container">
        <button (click)="goBack()" mat-raised-button class="back-button">Back to friend selection</button>
        <mat-form-field appearance="standard" class="search-input">
            <mat-label>Search</mat-label>
            <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="searchInput" (keyup.enter)="onSearch()"
                #trigger="matAutocompleteTrigger">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSearch()">
                <mat-option *ngFor="let game of filteredResults()" [value]="game.name">
                    {{game.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button (click)="onSearch()" mat-raised-button class="search-button">Search</button>
    </div>
</div>
<mat-expansion-panel class="filter-expansion" [expanded]="getCategories().length > 0">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Filters
        </mat-panel-title>
    </mat-expansion-panel-header>

    <app-category-list [categories]="getCategories()" [games]="searchedGames()" [first]="true">
    </app-category-list>
</mat-expansion-panel>
<app-game-list [games]="filteredGames()"></app-game-list>