@import '../../variables.scss';

.controls-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: $margin;
    background-color: rgba(white, 0.88);
    z-index: 2;
}
.buttons-container {
    display: flex;
    justify-content: space-between;
}
.back-button {
    margin: $margin;
}
.search-button {
    margin: $margin;
}
.search-input {
    margin-left: 64px;
    flex-grow: 1;
}
.filter-container {
    display: flex;
    padding: $margin $margin 0;
    margin-top: 105px;
    align-items: start;
    h2 {
        margin: 0;
    }
}
.filter-expansion {
    background-color: rgba(white, 0.88);
    ul {
        list-style: none;
    }
}
.checkbox-container {
    padding: 0;
    margin: 0;
}
.sort-list {
    display: flex;
    margin: 0 $margin;
    flex-grow: 1;
    justify-content: center;
    align-items: start;
}
.sort-toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order-user{
    margin: 0 $margin;
}